@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* ---------- Scroll Bar ---------*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    display: none;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(117, 117, 117, 0.5);
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(100, 100, 100);
}

:root{
    --blue: #2d63d1;
    --black: #393e46;
    --gray: #6a727f;
    --font: Raleway, 'Open sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    background: white;
    overflow: overlay;
}
header{
    width: 100%;
    height: 100vh;
    background: url('imgs/header-bg.png');
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
}
.navbar,
.header-content{
    width: 1170px;
    margin: 0 auto;
}
.navbar{
    height: 120px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.671);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;
}
.logo{
    display: flex;
    color: white;
    cursor: pointer;
}
.logo p{
    font-family: 'Montserrat', sans-serif;
    font-size: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
    margin-left: .5rem;
}

.menu-selection ul,
.icons{
    display: flex;
}
.menu-selection ul{
    list-style: none;
}
.menu-selection ul .fas{
    font-size: 10px;
    padding-left: 8px;
}
.menu-selection ul a{
    margin: 0 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    transition: all 0.2s;
}
.menu-selection ul a:hover{
    color: #2E307A;
}
.icons div:not(:last-child){
    margin-right: 2rem;
}
.icons div{
    cursor: pointer;
    transition: all 0.2s;
}

.header-content{
    
}
.header-content-text{
    padding-top: 230px;
    width: 800px;
    color: white;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    z-index: 100;
}
.header-content-text-1{
    font-size: 60px;
}
.header-content-text-1 span{
    font-weight: bold;
}
.header-content-text-2{
    font-size: 24px;
    margin-top: 60px;
}
.header-content-btn{
    margin-top: 60px;
    height: 65px;
    width: 270px;
    background: var(--blue);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.header-content-btn a{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    line-height: 65px;
}
.header-content-img img{
    width: 950px;
    height: 800px;
}
.header-content-img{
    position: absolute;
    top: 125px;
    right: 80px;
}

.section-w{
    width: 1170px;
    margin: 0 auto;
}
.section-1{
    display: flex;
    margin-bottom: 100px;
}
.section-1-text{
    width: 470px;
    margin-top: 250px;
}
.section-1-text-1{
    color: #393e46;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: bold;
}
.section-1-text-2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #6a727f;
    margin-top: 55px;
    margin-bottom: 70px;
}
.section-1-text-btn{
    width: 230px;
    height: 55px;
    padding: 20px 72px;
    background-color: var(--blue);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border-radius: 5px;
    line-height: 55px;
    font-weight: bold;
    text-align: center;
}
.section-1-text-btn a{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
}
.section-1-img{
    margin-left: 130px;
    width: 20px;
    display: flex;
    position: relative;
}
.section-1-img-1{
    position: absolute;
    top: 243px;
    left: -64px;
    width: 300;
    height: 410;
    z-index: 1;
}
.section-1-img-2{
    position: absolute;
    top: 150px;
    left: 100px;
    width: 470px;
    height: 445px;
}

.section-2{
    padding-top: 200px;
    display: flex;
}
.section-2-brand-1{
    margin-top: 170px;
    width: 270px;
    height: 270px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -10px 30px 30px 15px #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-2-brand-1 img{
    width: 100px;
    height: 96px;
}
.section-2-brand-2{
    margin-left: 30px;
    width: 370px;
}
.section-2-brand-2-1{
    width: 370px;
    height: 370px;
    background: var(--blue);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -10px 30px 30px 15px #f0f0f0;
    z-index: 0;
}
.section-2-brand-2-1 div{
    display: flex;
    flex-direction: column;
}
.section-2-brand-2-1 img{
    width: 118px;
    height: 140px;
    margin: 0 auto;
    margin-bottom: 45px;
}
.section-2-brand-2-1 p{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.section-2-brand-2-2{
    width: 230px;
    height: 230px;
    border-radius: 5px;
    box-shadow: -10px 30px 30px 15px #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background: white;
}
.section-2-text{
    margin-left: 130px;
    padding-top: 155px;
    width: 370px;
}
.section-2-text span{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #393e46;
}
.section-2-text p{
    margin-top: 50px;
    color: #6a727f;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 70px;
}
.section-2-text-btn{
}

.section-3{
    margin-top: 200px;
}
.section-3-title{
    width: 570px;
    margin: 0 auto;
    text-align: center;
    font-family: Raleway, 'Open Sans', sans-serif;
}
.section-3-title h3{
    font-size: 36px;
    margin-bottom: 50px;
    color: #393e46;
}
.section-3-title p{
    font-size: 18px;
    color: #6a727f;
    line-height: 35px;
    margin-bottom: 100px;
}

/*! ----------- Carousel ----------------*/

.section-3-carousel{
    width: 1770px;
    height: 550px;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
}
.slides,
.slide{
    display: flex;
}
.slides{
    overflow: hidden;
}
.slides input{
    display: none;
}
.slide{
    transition: all 0.4s;
}
.slide-child:not(:last-child){
    margin-right: 30px;
}
.navigation-manual{
    position: absolute;
    width: 1770px;
    top: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.manual-btn{
    /* box-sizing: unset; */
    width: 20px;
    height: 20px;
    background-color: transparent;  /*transparent*/
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c8c7fb;
    margin-left: 5px;
    margin-top: 5px;
    transition: 0.4s;
}
.manual-btn:checked{
    background-color: #c8c7fb;
}
.manual-btn:checked .dot{
    background-color: var(--blue);
}
.manual-btn:not(:last-child){
    margin-right: 15px;
}
.manual-btn:hover{
    background-color: #c8c7fb;
} 
.manual-btn:hover .dot{
    background-color: var(--blue);
}
#radio1:checked ~ .slide-show{
    margin-left: 0;
}
#radio2:checked ~ .slide-show{
    margin-left: -100%;
}
#radio3:checked ~ .slide-show{
    margin-left: -200%;
}
.btn-checked{
    width: 20px;
    height: 20px;
    background-color: #c8c7fb;
}
.btn-checked .dot{
    background-color: var(--blue);
}
.slide-child{
    position: relative;
}
.slide-child img{
    transition: all 0.2;
}
.slide-child p{
    transition: 0.2s;
    position: absolute;
    background-color: #2d64d1d8;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: bold;
    width: 570px;
    height: 0px;
    bottom: 4px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.slide-child:hover p{
    height: 420px;
    opacity: 1;
} 

.section-4{
    margin-top: 170px;
    position: relative;
}
.section-4-content{
    width: 1170px;
    margin: 0 auto;
    display: flex;
}
.section-4-text{
    margin-left: 30px;
    width: 770px;
    height: 370px;
    background-color: white;
    text-align: center;
    margin-top: 150px;
    border-radius: 5px;
    box-shadow: 0 25px 50px #e2e2e2;
    font-family: Raleway, 'Open Sans', sans-serif;
    position: relative;
}
.section-4-text-desc{
    font-size: 30px;
    color: #393e46;
    width: 630px;
    margin: 90px auto;
    margin-bottom: 50px;
}
.section-4-text img{
    position: absolute;
    top: -27px;
    left: 344px;
}
.section-4-text-artist{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #6a727f;
}
.section-4-bubble-animate{
    position: absolute;
    top: 80px;
    right: 150px;
    z-index: -2;
}
.circle{
    margin-top: 80px;
    margin-right: 50px;
}

.section-5{
    width: 1500px;
    height: 645px;
    margin: 0 auto;
    margin-top: -5px;
    background-color: #2d63d1;
    border-radius: 20px;
}
.section-5-contain{
    width: 1170px;
    margin: 0 auto;
    display: flex;
}
.section-5-contain-text{
    padding-top: 150px;
    width: 370px;
}
.section-5-contain-text h3{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-bottom: 45px;
    line-height: 55px;
}
.section-5-contain-text p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-bottom: 70px;
    line-height: 30px;
}
.section-5-contain-text-btn{
    background: #44f2a1;
    color: #2d63d1;
}
.section-5-contain-logo{
    margin-left: 285px;
    margin-top: 205px;
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-rows: auto auto; */
    gap: 10px 170px;
}

.section-6{
    margin-top: 145px;
    /* height: 1000px; */
}
.section-6-text{
    text-align: center;
    font-family: Raleway, 'Open Sans', sans-serif;
    width: 570px;
    margin: 0 auto;
}
.section-6-text h3{
    font-size: 36px;
    color: #393e46;
}
.section-6-text p{
    margin-top: 45px;
    color: #6a727f;
    font-size: 18px;
    line-height: 34px;
}
.section-6-news{
    width: 100%;
    display: flex;
    margin-top: 90px;
}
.section-6-news-bigger{
    margin-right: 30px;
    width: 570px;
    height: 560px;
    background-color: white;
    box-shadow: 0 25px 50px #e2e2e2;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.section-6-new-bigger-content{
    margin: 40px;
    margin-top: 30px;
    font-family: Raleway, 'Open sans', sans-serif;
}
.section-6-new-bigger-content span{
    font-size: 22px;
    font-weight: bold;
    line-height: 35px;
    color: var(--black);
}
.section-6-new-bigger-content p{
    font-size: 18px;
    color: var(--gray);
    line-height: 34px;
    margin-top: 20px;
}
.section-6-news-smaller1{
    width: 570px;
    height: 170px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 25px 50px #e2e2e2;
    display: flex;
    font-family: var(--font);
}
.section-6-news-smaller1:not(:last-child){
    margin-bottom: 25px;
}
.section-6-news-smaller1-content{
    width: 340px;
    height: 100px;
    margin: 0 auto;
    margin-top: 35px;
}
.section-6-news-smaller1-content span{
    font-size: 22px;
    font-weight: bold;
    color: var(--black);
}
.section-6-news-smaller1-content p{
    margin-top: 25px;
    font-size: 14px;
    color: var(--gray);
}
.section-6-btn{
    margin-top: 70px;
    width: 100%;
    text-align: center;
}

.section-7{
    width: 100%;
    height: 900px;
    margin-top: 150px;
    background:linear-gradient(#2228313d, #2228313d), url('imgs/section-7-bg.png');
    background-size: cover;
}
.section-7-contain{
    width: 570px;
    margin: 0 auto;
    color: white;
}
.section-7-title{
    padding-top: 145px;
    font-family: var(--font);
    text-align: center;
    width: 590px;
}
.section-7-title strong{
    font-family: Raleway, sans-serif;
    font-size: 36px;
    line-height: 56px;
}
.section-7-title p{
    padding-top: 40px;
    padding-bottom: 100px;
    font-size: 18px;
    line-height: 34px;
}
input[type=text],
input[type=email]{
    width: 570px;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 2px solid white;
    font-size: 14px;
    font-family: var(--font);
    padding-left: 25px;
    color: white;
    background: transparent;
    outline: none;
}
::-webkit-input-placeholder{
    color: white;
}
textarea{
    width: 570px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid white;
    background: transparent;
    color: white;
    padding: 20px;
    font-family: var(--font);
    font-size: 14px;
    outline: none;
}
.section-7-btn{
    width: 570px;
    margin-top: 30px;
    text-align: center;
}
input[type=submit]{
    width: 270px;
    height: 65px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(90deg,#f474a1, #ffac3a);
    cursor: pointer;
}

/* ----------- Footer --------*/
footer{
    width: 100%;
    height: 730px;
    font-family: var(--font);
}
.footer-top{
    width: 100%;
    height: 580px;
    background-color: #282f3a;
}
.footer-bottom{
    width: 100vw;
    height: 150px;
    background-color: #252b36;
}
.footer-bottom-contain,
.footer-top-contain{
    width: 1170px;
    margin: 0 auto;
}
.footer-top-contain{
    display: flex;
    padding-top: 145px;
}
.footer-top-1{
    width: 370px;
}
.footer-top-1-logo{
    display: flex;
}
.footer-top-1-logo p{
    font-size: 22px;
    font-weight: bold;
    color: white;
    line-height: 40px;
    margin-left: 15px;
}
.footer-top-1-text p{
    margin-top: 45px;
    font-size: 16px;
    line-height: 30px;
    color: #a0a8b5;
}
.footer-top-1-contact{
    margin-top: 40px;
    display: flex;
}
.footer-top-1-contact a{
    color: #a0a8b5;
}
.footer-top-1-contact a:not(:last-child){
    margin-right: 40px ;
}
.footer-top-1-contact a:hover{
    color: #eeeeee;
}
.footer-top-2 strong,
.footer-top-3 strong{
    color: white;
    font-size: 18px;
}
.footer-top-2{
    margin-left: 130px;
    width: 170px;
}
.footer-top-2 .links{
    margin-top: 45px;
}
.footer-top-2 .links li{
    list-style: none;
    color: #a0a8b5;
    margin-bottom: 30px;
}
.footer-top-2 .links li:hover{
    color: white;
}
.footer-top-3{
    padding-left: 130px;
    width: 370px;
}
.footer-top-3 .footer-number-phone{
    margin-top: 45px;
}
.footer-top-3 div p{
    color: #a0a8b5;
    margin-bottom: 10px;
    font-family: 'Open Sans';
}
.footer-top-3 div{
    margin-bottom: 35px;
}
.footer-bottom{
    display: flex;
    align-items: center;
    font-family: Open Sans;
    color: #a0a8b5;
    font-size: 16px;
}
.footer-bottom span{
    color: white;
}

